{% extends 'base.html' %}

{% block title %}Hospitals{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hospitals.css') }}">
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom px-3">
  <a class="navbar-brand fs-3 text-white" href="#">EasyHospital</a>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link fs-5" href="#">
         {{ current_user.fullname }} <i class="bi bi-person-circle"></i>
      </a>
    </li>
  </ul>
</nav>
<div class="contenedor">
  <div class="buscar">
    <input class="search-bar" type="search" placeholder="Buscar hospital...">
  </div>
  <div class="tabla-hospitales-contenedor">
    <div class="tabla-hospitales">
      <table>
        {% set columnas = ['id_eess', 'nombre', 'direccion', 'id_ubigeo'] %}
    
        <thead>
          <tr>
            {% for columna in columnas %}
              <th>{{ columna }}</th>
            {% endfor %}
          </tr>
        </thead>
    
        <tbody>
          {% for fila in datos %}
            <tr>
              {% for columna in columnas %}
                <td>{{ fila[columna] }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="no-resultados" style="display: none;">No se encontraron resultados.</div>
    </div>
  </div>
</div>

<script>
  const inputBuscar = document.querySelector('input[type="search"]');
const botonBuscar = document.querySelector('#lupa');
const tabla = document.querySelector('.tabla-hospitales table');

inputBuscar.addEventListener('input', buscar);
botonBuscar.addEventListener('click', buscar);

function buscar() {
  const textoBuscar = inputBuscar.value.toLowerCase();
  const filas = tabla.tBodies[0].rows;
  let encontrado = false;

  for (let i = 0; i < filas.length; i++) {
    const fila = filas[i];
    const celdas = fila.cells;
    let coincide = false;

    for (let j = 0; j < celdas.length; j++) {
      const celda = celdas[j];
      if (celda.textContent.toLowerCase().includes(textoBuscar)) {
        coincide = true;
        break;
      }
    }

    if (coincide) {
      fila.style.display = '';
      encontrado = true;
    } else {
      fila.style.display = 'none';
    }
  }

  const noResultados = document.querySelector('.no-resultados');
  if (!encontrado && textoBuscar !== '') {
    noResultados.style.display = 'block';
  } else {
    noResultados.style.display = 'none';
  }
}
</script>


{% endblock %}