{% extends 'base.html' %}

{% block title %}Hospitals{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom px-3">
  <a class="navbar-brand fs-3 text-white" href="#">EasyHospital</a>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link fs-5" href="#">
         {{ current_user.fullname }} <i class="bi bi-person-circle"></i>
      </a>
    </li>
  </ul>
</nav>

<table>
  <thead>
    <tr>
      <th>id_eess</th>
      <th>Código RENAES</th>
      <th>Categoría</th>
      <th>Nombre</th>
      <th>Diresa</th>
      <th>Red</th>
      <th>Dirección</th>
      <th>Longitud</th>
      <th>Latitud</th>
      <th>id_ubigeo</th>
    </tr>
  </thead>
  <tbody>
    {% for fila in datos %}
      <tr>
        <td>{{ fila['id_eess'] }}</td>
        <td>{{ fila['codigo_renaes'] }}</td>
        <td>{{ fila['categoria'] }}</td>
        <td>{{ fila['nombre'] }}</td>
        <td>{{ fila['diresa'] }}</td>
        <td>{{ fila['red'] }}</td>
        <td>{{ fila['direccion'] }}</td>
        <td>{{ fila['longitud'] }}</td>
        <td>{{ fila['latitud'] }}</td>
        <td>{{ fila['id_ubigeo'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}