.navbar-custom {
  background-color: #3865B9;
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #cccccc;
}

.buscar {
  width: 300px;
  margin: 20px 0 20px 1%;
  position: relative; 
  left: 0; 
  display: inline-block;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.tabla-hospitales {
  width: 100%; 
  max-width: 100%; 
  margin: 20px auto;
  font-size: 12px;
  overflow-y: auto; 
  max-height: 680px; 
  display: block; 
  table-layout: fixed; 
}

.tabla-hospitales table {
  width: 100%; 
  border-collapse: collapse;
}

.tabla-hospitales tbody {
  min-height: 100px;
}

.tabla-hospitales-contenedor {
  width: 90%; 
  margin: 20px auto;
}

.btn-custom {
  margin-left: 10px;
}

.search-bar{
  height: 35px;
}

.no-resultados {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin-top: 20px;
}