.navbar-custom {
  background-color: #3865B9;
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #cccccc;
}

.card-custom{
  width: 700px;
  margin-right: 300px;
}

.path{
  width: 100%;
}